body {
    height: 100%;
    background: #aee6e6;
}

table,
th,
td {
    border: 2px solid black;
    text-align: center;
}

#course-table {
    width: 100%;
}

#load-more {
    margin-top: 1%;
}

.search-field {
    margin-bottom: 1%;
}

button:hover {
    background-color: #ddd;
    color: black;
}

.navigation {
    font-family: 'Ubuntu', sans-serif;
}

.center-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page:disabled {
    color: #646464;
    font-weight: bolder;
    background-color: #fff8cd;
}
